<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>HotSpot</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>
      function initialize() {
        var myLatlng = new google.maps.LatLng(40.727231, -73.984195);
        var mapOptions = {
          zoom: 5,
          center: myLatlng
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var locations = <%= 
        output = []
        @locations.each_with_index {|location, index|
          row = "[\'"
          location.posts.each {|post|
            row << "<div class=\"post-wrap\">"
            row << "<div class=\"post-thumb\"><img src=\"#{post.content_url}\"></div>"
            row << "<div class=\"post-caption\"><p>Text here</p></div>"
            row << "</div>"
            # row << "Post"
          }
          row << "\', #{location.lat.round(6)}, #{location.lng.round(6)}, #{index}"
          row << "]"
          output << row
        }
        "[" + output.join(",") + "]"
        %>;

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {  
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));
        }
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>